body {
  margin: 0;
  font-family: -apple-system, fantasy;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav  {
  display: inline;
     height: 65px;
     flex-direction: row;
     justify-content: flex-start;
}
.btn {
  color:red;
}
.title {
  background-color: bisque;
  
}
